<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">

</head>

<body>
    <table cellspacing='10' border="1" cellpadding='10'>
        <tr>
            <th>user id</th>
            <td>{{user.id}}</td>
        </tr>
        <tr>
            <th>username</th>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <th>email</th>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <th>Avatar</th>
            <td><img src="{{user.avatar}}"></td>
        </tr>
    </table>
    <a href="/logout">logout</a>

</body>

</html>